html,
body {
    margin: 0;
}

#welcome {
    height: 100vh;
    background: linear-gradient(to bottom right, #9ED8DB, #1D3354);
    display: table;
    width: 100%;
}

#welcome_inner img {
    height: 300px;
    width: 300px;
    border-radius: 150px;

}

#welcome_inner {
    display: table-cell;
    vertical-align: middle;
}

#welcome_inner h3 {
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 25px;
    color: white;
    font-variant: small-caps;
    
}
body {
    text-align: center;
}

#bio p {
    max-width: 1000px;
    text-align: justify;
    line-height: 1.3;
    font-size: 15px;
    margin: auto;
    color: black;
    letter-spacing: 1px;
}

#bio{
    background: rgba(100,100,100,0.1);
    padding-bottom: 100px;    
}
    #bio h1, #videos h1, #work h1, #writings h1 {
        padding-top: 100px;
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;        
    }



nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
}

#name {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.9)
}

#name2 {
    color: #48cae4;
    letter-spacing: 7px;
    word-spacing: 5px;
}

.frame{
    width: 800px;
    margin: auto;
    padding: 40px 0px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px black;
    
}

#videos{
    background: #b7b7a4;
    padding-bottom: 70px;
}

#work{
    padding-bottom: 70px;
}

#writings{
    background: #8d99ae;
}