#welcome{
    height:100vh;
    background: linear-gradient(to bottom right,rgba(0,0,255,1),cyan,blue);
    display:table;
    width: 100%;
}

#welcome_inner img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    
}
#welcome_inner{
    display: table-cell;
    vertical-align: middle;
}

body{
 text-align: center;
}

#bio p{
    max-width: 1000px;
    text-align: justify;
    line-height: 1.3;
    font-size: 17px;
    margin: auto;
}